<!--<body class="text-white" style="background-color: #F2C335;">背景色を指定
<section class="first-view center-vertical">
  	<h1>SHARE COMMI</h1>
      <p class="lead">全く新しいクチコミ投稿SNS</p>
      <p class="detail">従来の匿名のクチコミアプリとは違い，身近な人の口コミが見れるサービス<br>
      友達におすすめされたお店ならとりあえず行ってみようって気になりませんか？<br>
      もう大量のクチコミを見て悩む時代は終わりにしよう。</p>
      <% unless !current_user.nil? %>
      <p class="lead">
        <a href="/signup" class="btn btn-lg btn-secondary fw-bold" style="background-color: #393073;">SignUp</a>
      </p>
      <% end %>
</section>
</body>-->
<body class="main">
  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">SHARE COMMI</h1>
    <h3>全く新しいクチコミ投稿SNS</h3>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">従来の匿名のクチコミアプリとは違い，身近な人の口コミが見れるサービス
        友達におすすめされたお店ならとりあえず行ってみようって気になりませんか？
        もう大量のクチコミを見て悩む時代は終わりにしよう。</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <% unless !current_user.nil? %>
        <a href="/signup" class="btn btn-secondary btn-lg px-4 me-md-2" style="background-color: #393073;">新規登録</a>
        <a href="/signin" class="btn btn-secondary btn-lg px-4 me-md-2" style="background-color: #393073;">ログイン</a>
      <% end %>
      </div>
    </div>
  </div>

</body>

