<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<title>SHARE COMMI</title>
		<link rel="stylesheet" href="/assets/css/index.css">
		<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
	<body>
		<nav class="center-horizontal">
			
			<% if !current_user.nil? %>
				<a href="/home">Home</a>
				<a href="/post">New Post</a>
				<a href="/mypage">
				<img src="<%= current_user.icon %>" alt="user_image" width="40" height="40"></a>
				<a href="/signout">Sign out</a>
			<% else %>
				<a href="/signin">Sign in</a>
				<a href="/signup">Sign up</a>
			<% end %>
			
		</nav>
		
		

		<main>
			<%= yield %>
		</main>
	</body>
</html>
