<section class="first-view center-vertical">
	<h1 class="h3 mb-3 fw-normal text-center">新規投稿</h1>
	<div class="login_button">
		<div class="container">
		<form action="/home" method="post" enctype="multipart/form-data">
		    お店の名前
		    <div class="form-floating my-3">
		    	<input type="text" name="shopname" class="form-control-sm" placeholder="お店の名前">
		    </div>
			<div class="mb-3 my-3">
				<input class="form-control" type="file" name="file" id="formFile">
    		</div>
		    <label for="grade">カテゴリー</label><br>
				<select id="grade" name="category">
					<option value="飲食店">飲食店</option>
					<option value="カフェ">カフェ</option>
					<option value="レジャー">レジャー</option>
					<option value="ビューティー">ビューティー</option>
					<option value="ホテル">ホテル</option>
				</select><br>
			<label for="assessment">評価</label><br>
		    	<select id="assessment" name="assessment">
		    		<option value="1">1</option>
		    		<option value="2">2</option>
		    		<option value="3">3</option>
		    		<option value="4">4</option>
		    		<option value="5">5</option>
		    	</select><br>
		    URL
		    <div class="form-floating my-3">
		    	<input type="text" name="shopurl" class="form-control-sm" placeholder="URL">
		    </div>
		    コメント
		    <div class="form-floating my-3">
		    	<textarea id="content" name="comment" rows="4" cols="40" placeholder="コメント"></textarea>
		    </div>
		    <button class="w-100 btn btn-lg" style="background-color: #393073; color: white;" type="submit">投稿</button>
		</form>
		</div>
	</div>
</section>