<!--<div class="container">
    <h1>新規登録</h1>
<form action="/signup" method="post" enctype="multipart/form-data">
    <input type="text" name="name" placeholder="ユーザー名"><br>
    <input type="password" name="password" placeholder="パスワード"><br>
    <input type="password" name="password_confirmation" placeholder="パスワードを確認"><br>
    <input type="file" name="file"><br>
    <input type="submit" value="Sign up">
</form>
</div>-->

<section class="first-view center-vertical">
<main class="form-signup">
  <form action="/signup" method="post" enctype="multipart/form-data">
    <h1 class="h3 mb-3 fw-normal text-center">新規登録</h1>

    <div class="form-floating my-3">
      <input type="text" name="name" class="form-control" id="floatingInput" placeholder="ユーザー名">
      <label for="floatingInput">ユーザー名</label>
    </div>
    <div class="form-floating my-3">
      <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="パスワード">
      <label for="floatingPassword">パスワード</label>
    </div>
     <div class="form-floating my-3">
      <input type="password" name="password_confirmation" class="form-control" id="floatingPassword" placeholder="パスワードを確認">
      <label for="floatingPassword">パスワードを確認</label>
    </div>
    <div class="mb-3 my-3">
      <input class="form-control" type="file" name="file" id="formFile">
    </div>
    <button class="w-100 btn btn-lg" style="background-color: #393073; color: white;" type="submit">SignUp</button><!--文字の色ここで変更してしまった-->
  </form>
</main>
</section>